@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@300;400&display=swap');

.hero {
    font-family: "Roboto Mono", Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
}

html {
    background-color: darken(#00467F, 8);
    font-family: "Roboto", Arial;
    color: #ffffff;
}

h3 { font-weight: 300; }
